

.background {
  background-image: url("./img/top-background.jpg");
  background-repeat: no-repeat;
}
.header-container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  color: #ffffff;
}
.title-text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 0 64px;
}
.title-h2 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}
.title-h1 {
  font-weight: 900;
  font-size: 30px;
  padding-bottom: 157px;
  line-height: 33px;
}
